.carInfo {
  padding-top: 3%;
}
.carInfo .carName {
  height: 35px;
}
.carInfo .carName p {
  text-align: left;
  font: normal normal 600 21px/39px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.carInfo .carName img {
  width: 22px;
  height: 22px;
  margin: 8px 13px;
  cursor: pointer;
}
.copied1 {
  display: none;
}
.carInfo .carData p {
  width: 256px;
  height: 29px;
  text-align: left;
  font: normal normal normal 17px/29px Lato;
  letter-spacing: 0px;
  color: #888888;
}
.carInfo .carData img {
  width: 17px;
  height: 17px;
  margin: 5px -61px;
  cursor: pointer;
}
.carInfo .info .item {
  width: 17%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.carInfo .info .color {
  width: 16px;
  height: 16px;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  margin: 11px -7px;
}
.carInfo .info .item p {
  width: 97px;
  height: 22px;
  text-align: left;
  font: normal normal 500 18px/40px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.carInfo .info .item span {
  width: 39px;
  height: 19px;
  color: var(--unnamed-color-707070);
  text-align: left;
  font: normal normal normal 14px/19px Lato;
  letter-spacing: 0px;
  color: #707070;
}

.carInfo .icons {
  margin-top: 5%;
  margin-bottom: 2%;
}
.carInfo .icons ul li {
  display: inline-block;
  width: 16%;
  text-align: right;
}

.carInfo .icons ul {
  padding: 0;
}
@media (max-width: 1024px) {
  .carInfo .info .item {
    width: 25%;
  }
}
@media (max-width: 900px) {
  .carInfo .icons img {
    width: 32px;
    height: 32px;
  }
  .carInfo .icons ul {
    padding: 0;
  }
}

@media (max-width: 800px) {
  .carInfo .icons img {
    width: 32px;
    height: 32px;
  }
  .carInfo .icons ul {
    padding: 0;
  }
  .carInfo .icons {
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 0;
    margin-left: -55px;
    margin-right: -60px;
}
}
@media (max-width: 768px) {
  .carInfo .info .item {
    width: 33%;
  }
}

@media (max-width: 650px) {
  .carInfo .icons img {
    width: 32px;
    height: 32px;
  }
  .carInfo .icons ul {
    padding: 0;
  }
  .carInfo .icons {
    margin-top: 8%;
    margin-bottom: 5%;
    padding: 0;
    margin-left: -30px;
    margin-right: -20px;
}
}
@media (max-width: 415px) {
  .carInfo .info .item {
    width: 33%;
  }
  .carInfo .info .item p {
    width: 97px;
    height: 22px;
    text-align: left;
    font: normal normal 500 16px/40px Lato;
    letter-spacing: 0px;
    color: #1c1c26;
  }
  .carInfo .row {
    width: 119%;
  }

  .carInfo .info .color {
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    margin: 12px -16px;
  }
  .carInfo .icons img {
    width: 27px;
    height: 27px;
  }
}
@media (max-width: 360px) {
  .carInfo .carName p {
    font: normal normal 600 19px/39px Lato;
  }
}
@media (max-width: 320px) {
  .carInfo .carName p {
    font: normal normal 600 18px/39px Lato;
  }
  .carInfo .info .color {
    width: 11px;
    height: 11px;
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    margin: 15px -16px;
  }
}
@media (max-width: 280px) {
  .carInfo .carName p {
    font: normal normal 600 15px/39px Lato;
  }
  .carInfo .carName img {
    width: 19px;
    height: 19px;
    margin: 9px 13px;
  }
  .carInfo .info .item p {
    font: normal normal 500 12px/40px Lato;
  }
  .carInfo .info .item span {
    font: normal normal normal 11px/19px Lato;
  }
  .carInfo .info .color {
    width: 11px;
    height: 11px;
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    margin: 13px -35px;
  }
  .carInfo .icons img {
    width: 20px;
    height: 20px;
  }
}
.carInfo .Toastify__toast-container--top-center {
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast {
  position: relative;
  min-height: 75px !important;
}