.invoice {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #00000029;
  border-radius: 3px;
  padding: 28px 20px 17px 20px;
}
.invoice .invoiceImg {
  background: #e2e2e2 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 124px;
  height: 57px;
}
.invoice ul {
  list-style: none;
  padding: 0;
}
.invoice ul li {
  display: inline-block;
}
.invoice .right {
  float: right;
}
.invoice .invoice-header h5 {
  text-align: left;
  font: normal normal 500 18px/29px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoice .invoice-header p {
  text-align: left;
  font: normal normal 500 17px/22px Lato;
  letter-spacing: 0px;
  color: #0078d4;
}
.invoice dl {
  list-style: none;
}
.invoice .invoiceBody p {
  text-align: left;
  font: normal normal normal 16px/20px Lato;
  letter-spacing: 0px;
  color: #888888c9;
  margin-right: 4%;
}
.invoice .invoiceBody span {
  text-align: left;
  font: normal normal normal 17px/27px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoice .invoiceBody .row {
  padding: 0px 16px 0px 13px;
}
.invoice .invoiceBody .to {
  margin-right: 9%;
}
.invoice .total .row {
  padding: 0 0 0 0;
}
.invoice .total p {
  text-align: left;
  font: normal normal 600 23px/34px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoice .total span {
  text-align: left;
  font: normal normal 600 22px/34px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
  margin-left: 6%;
}
.invoice .total {
    float: right;
    width: 50%;
    margin: 3% 1% 10% 0;
}
.invoice .border {
    border-top: 1px solid #1c1b1b24 !important;
    border-bottom: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    margin: 60px 21px 10px 21px;
}
.invoice .viewInvoice a,
.invoice .viewInvoice a:hover {
  text-align: left;
  font: normal normal 500 17px/22px Lato;
  letter-spacing: 0px;
  color: #0078d4;
  text-decoration: none;
}
.invoice .viewInvoice a img {
  width: 15px;
  height: 15px;
  margin-left: 2%;
}
.invoice .viewInvoice {
  padding: 6px 28px 0 53px;
} 
.invoice .d{
    min-width: 255px;
}

@media(max-width:376px){
     
    .invoice .invoiceImg {
        width: 80px;
    }
     
    .invoice .from{
        margin-top: 7%;
        display: block;
    }
    .invoice .total {
        float: right;
        width: 71%;
    }
}
@media(max-width:360px){
    .invoice .invoiceImg {
        width: 96px;
}
.invoice .from {
    margin-top: 7%;
    display: flex;
}
.invoice .invoiceBody span {
    font: normal normal normal 14px/27px lato;
}
}
@media(max-width:320px){
    .invoice .invoice-header h5 {
        font: normal normal 500 17px/29px Lato;
    }
    .invoice .invoiceImg {
        width: 80px;
    }
    .invoice .invoiceBody span {
        font: normal normal normal 15px/27px lato;
    }
    .invoice .from{
        margin-top: 7%;
        display: block;
    }
    .invoice .total {
        float: right;
        width: 71%;
    }
}

@media(max-width:280px){
    .invoice .invoice-header h5 {
        font: normal normal 500 14px/29px Lato;
    }
    .invoice .invoice-header p {
        text-align: left;
        font: normal normal 500 16px/22px Lato;
    }
    .invoice .invoiceImg {
        width: 70px;
    }
    .invoice .invoiceBody span {
        font: normal normal normal 15px/27px lato;
    }
    .invoice .from{
        margin-top: 7%;
        display: block;
    }
    .invoice .total {
        float: right;
        width: 71%;
    }
}