.paymentForInvoice {
    background-image: url("../../images/BG-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    margin-bottom: 5%;
  }
  .paymentForInvoice .row {
    padding: 13% 0 0 0;
  } 
  .paymentForInvoice #container{
      width:47%
  }
  .paymentForInvoice .payment {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #00000029;
    border-radius: 10px;
    padding: 28px 23px 17px 23px;
    margin-top: -1px;
}
.paymentForInvoice .invoice{
    border-radius: 10px;
}
.paymentForInvoice .border-dashed{
    border-bottom: 3.3px dashed gray;
    width: 97%;
    margin: -2px 0px 0 7px;
    z-index: 133;
}
@media(max-width:2560px){
    
}
@media(max-width:1029px){
    .paymentForInvoice #container{
        width:55%
    }
}

@media(max-width:880px){
    .paymentForInvoice #container{
        width:66%
    }
}
@media(max-width:750px){
    .paymentForInvoice #container{
        width:100%
    }
}
@media(max-width:426px){
    .paymentForInvoice .border-dashed{
        width: 91%;
    }
}
  @media(max-width:320px){
  .paymentForInvoice {
    width: 107%;
  }
  }
   
