 #detail .main-img-slider{
  width: 100%;
  height: 400px;
 }
 #details{
  margin-top: 10%;
 }
.slick-slider .slick-prev, .slick-slider .slick-next {
    z-index: 100;
    font-size: 2.5em;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color: #B7B7B7;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #000;
    opacity: .3;
    transition: opacity .25s;
    cursor: pointer;
  }
  .slick-slider .slick-prev:hover, .slick-slider .slick-next:hover {
    opacity: .65;
  }
  .slick-slider .slick-prev {
    left: 0;
  }
  .slick-slider .slick-next {
    right: 0;
  }
  
  #detail .product-images {
    width: 100%;
    margin: 0 auto;
  }
  #detail .product-images li, #detail .product-images figure, #detail .product-images a, #detail .product-images img {
    display: block;
    outline: none;
    border: none;
  }
  #detail .product-images .main-img-slider figure {
    margin: 0 auto;
    padding: 0 2em;
  }
  #detail .product-images .main-img-slider figure a {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
  #detail .product-images .main-img-slider figure a img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  #detail .product-images .thumb-nav {
    margin: 13px auto;
    padding: 9px 9px 9px 27px;
    max-width: 644px;
    /* border: 1px solid red; */
    background: #F9F9F9 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
  }
  #detail .product-images .thumb-nav.slick-slider .slick-prev, #detail .product-images .thumb-nav.slick-slider .slick-next {
    font-size: 1.2em;
    height: 20px;
    width: 26px;
    margin-top: -10px;
  }
  #detail .product-images .thumb-nav.slick-slider .slick-prev {
    margin-left: -30px;
  }
  #detail .product-images .thumb-nav.slick-slider .slick-next {
    margin-right: -30px;
  }
  #detail .product-images .thumb-nav li {
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
  #detail .product-images .thumb-nav li img {
    display: block;
    border: 2px solid transparent;
    transition: border-color .25s;
    height: 101px;
    width: 138px;
  }
  #detail .product-images .thumb-nav li:hover, #detail .product-images .thumb-nav li:focus {
    border-color: #999;
  }
  #detail .product-images .thumb-nav li.slick-current img {
    border-color: #d12f81;
  }
  
  
  .slick-prev::before, .slick-next::before {
      color: red;
  }
  .slick-slide img{
    width: 100%;
    height: 400px;
  }
  @media(max-width:415px){
    #detail .product-images .thumb-nav li img {
        height: 81px;
        width: 88px;
      }

    #detail .product-images .thumb-nav.slick-slider .slick-prev {
        margin-left: -12px;
    }

    #detail .product-images .thumb-nav.slick-slider .slick-next {
        margin-right: -12px;
    }
  }

  @media(max-width:375px){
    #detail .product-images .thumb-nav li img {
        height: 77px;
        width: 80px;
      }

    #detail .product-images .thumb-nav.slick-slider .slick-prev {
        margin-left: -12px;
    }

    #detail .product-images .thumb-nav.slick-slider .slick-next {
        margin-right: -12px;
    }
  }

  @media(max-width:360px){
    #detail .product-images .thumb-nav li img {
        height: 70px;
        width: 77px;
      }

    #detail .product-images .thumb-nav.slick-slider .slick-prev {
        margin-left: -12px;
    }

    #detail .product-images .thumb-nav.slick-slider .slick-next {
        margin-right: -12px;
    }
  }

  @media(max-width:320px){
    #detail .product-images .thumb-nav li img {
        height: 63px;
        width: 63px;
      }

    #detail .product-images .thumb-nav.slick-slider .slick-prev {
        margin-left: -12px;
    }

    #detail .product-images .thumb-nav.slick-slider .slick-next {
        margin-right: -12px;
    }
  }

  @media(max-width:280px){
    #detail .product-images .thumb-nav li img {
        height: 55px;
        width: 55px;
      }

    #detail .product-images .thumb-nav.slick-slider .slick-prev {
        margin-left: -12px;
    }

    #detail .product-images .thumb-nav.slick-slider .slick-next {
        margin-right: -12px;
    }
  }