.address p:first-child {
  height: 34px;
  font: normal normal 500 20px/34px Lato;
  width: 190px;
  height: 34px;
  color: #1c1c26;
}
.address p:last-child {
    width: 193px;
    height: 80px;
    text-align: left;
    font: normal normal normal 17px/22px Lato;
    letter-spacing: 0px;
    color: #707070;
}
.address {
  padding-top: 3%;
}
@media(max-width:540px){
    .report .paddings {
        margin: 0px 40px 0 40px  !important;
    }
}
@media(max-width:425px){
    .address p:first-child {
        height: 34px;
        font: normal normal 500 19px/50px Lato;
        width: 190px;
        height: 34px;
        color: #1c1c26;
    }
    .address p:last-child {
        width: 118px;
        height: 80px;
        text-align: left;
        font: normal normal normal 14px/22px Lato;
        letter-spacing: 0px;
        color: #707070;
    }
}
@media(max-width:415px){
    .report .paddings {
        margin: 0px 30px 0 30px !important;
    }
    .address p:first-child {
        height: 34px;
        font: normal normal 500 22px/60px Lato;
    }
    .address p:last-child {
        width: 176px;
        font: normal normal normal 17px/25px Lato;
        height: 77px;
    }
}

@media(max-width:375px){
    
    .address p:first-child {
        height: 34px;
        font: normal normal 500 19px/60px Lato;
    }
    .address p:last-child {
        width: 176px;
        font: normal normal normal 16px/25px Lato;
        height: 77px;
    }
}

@media(max-width:320px){
    .report .paddings {
        margin: 3px 29px 0 29px  !important;
    }
    .address p:first-child {
        height: 34px;
        font: normal normal 500 20px/44px Lato;
    }
    .address p:last-child {
        width: 176px;
        font: normal normal normal 16px/27px Lato;
        height: 88px;
    }
}
