.car-points .inspectionContainer {
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
  }
  
  .car-points .carContainer {
    position: relative;
  }
  .car-points .carContainer + .carContainer {
    margin-top: 80px;
  }
  .car-points .carContainer[data-face="top"] {
    background-image: url("../../../../src/xx.png");
    background-size: 100% 100%;
    width: 166.867257px;
    height: 372.551753px;
    position: relative;
    background-repeat: no-repeat;
    margin: 0 auto;
    float: right;
  }
  .car-points .carContainer[data-face="front"] {
    background-image: url("../../../../src/Front.png");
    background-size: 100% 100%;
    width: 178.96194px;
    height: 132.1135px;
    position: relative;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  .car-points .carContainer[data-face="back"] {
    background-image: url("../../../../src/Back.png");
    background-size: 100% 100%;
    width: 187.90376px;
    height: 132.1135px;
    position: relative;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  .car-points .carContainer[data-face="left"] {
    background-image: url("../../../../src/Right.png");
    background-size: 100% 100%;
    width: 206.944446px;
    height: 66.05675px;
    position: relative;
    background-repeat: no-repeat;
  }
  .car-points .col-md-12 {
    margin-top: 5%;
  }
  .car-points .carContainer[data-face="right"] {
    background-image: url("../../../../src/Left.png");
    background-size: 100% 100%;
    width: 206.944446px;
    height: 66.05675px;
    position: relative;
    background-repeat: no-repeat;
  }
  .car-points .singleDot {
    width: 20px;
    position: absolute;
    height: 20px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    /* background-color: #0d74cd; */
    border-radius: 50%;
    cursor: pointer !important;
  }
  .car-points .pulse-box {
    pointer-events: none;
    position: relative;
    cursor: pointer;
    width: 100%;
  }
  
  .car-points .pulse-box svg {
    cursor: pointer;
    width: 17%;
    margin-bottom: 199%;
    margin-top: -3px;
  }
  .car-points .smallPop {
    width: 255px;
    position: absolute;
    top: 72px;
    left: calc(50% - 262px / 2);
    z-index: 9;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 #000;
    display: none;
  }
  .car-points .smallPop .clicked {
    display: block;
  }
  .car-points .smallPop img {
    width: 100%;
  }
  .car-points .smallPop p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 4px;
  }
  


  .car-points{
    margin-bottom: 7%;
    margin-top: 7%;
  }  
  @media(max-width:1199px){
    .car-points .carContainer[data-face="front"]{
        margin: 0 -26px;
    }
    .car-points .carContainer[data-face="back"]{
        margin: 0 -26px;
    }
  }
  @media(max-width:576px){
    .car-points .carContainer[data-face="top"]{
        margin: 0 auto;
        float: none;
    }
    .car-points .carContainer[data-face="front"]{
        margin:35px auto 0px;
    }
    .car-points .carContainer[data-face="back"]{
        margin: 0 auto;
    }
    .car-points .carContainer[data-face="left"]{
        margin:35px auto 0px;
    }
  }
  @media(max-width:425px){
    .car-points .carContainer[data-face="left"]{
     margin-left: -14%;
    }
    .car-points .carContainer[data-face="right"]{
     margin-left: -14%;
    }
  }
  @media(max-width:375px){
    .car-points .carContainer[data-face="left"]{
     margin-left: -23%;
    }
    .car-points .carContainer[data-face="right"]{
     margin-left: -23%;
    }
  }
  @media(max-width:360px){
    .car-points .carContainer[data-face="left"]{
     margin-left: -28%;
    }
    .car-points .carContainer[data-face="right"]{
     margin-left: -28%;
    }
  }