.report {
  background-attachment: fixed;
}
.report .data {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
}
.report .paddings {
  margin: 0px 100px 0 100px;
}
.report .border {
  border-top: 1px solid #1c1b1b45 !important;
  border-bottom: 1px solid transparent !important;
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  width: 100%;
  height: 3px;
}
.report .Toastify__toast-container--top-center {
  top: 0;
  transform: translateX(0%);
}
.Toastify__toast-container {
  padding: 0;
  width: 80%;
  z-index: 99;
  box-sizing: border-box;
  color: #fff;
  max-width: 1110px;
}

.report .mask {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 101;
}
.report .mask .img-box {
  width: 100%;
  max-width: 700px;
  padding: 10px;
  /* background: #fff; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.report .mask .img-box img {
  width: 100%;
  height: 700px;
  box-shadow: 0px 0px 10px grey;
}
.report .mask .img-box .close {
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 29px;
  position: absolute;
  top: -25px;
  right: -15px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
}
.report  .mask .img-box .close:hover {
  background: white;
}

.report .is-visible {
  display: block !important;
}

.report .fadein {
  animation: fadein 400ms ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 .fadeout {
  animation: fadeout 400ms ease-in-out;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1400px) {
  .Toastify__toast-container {
    padding: 0;
    width: 80%;
    box-sizing: border-box;
    color: #fff;
    max-width: 1140px;
    min-width: 1110px;
  }
}
@media(max-width:1200px) {
  .Toastify__toast-container {
    padding: 0;
    width: 80%;
    box-sizing: border-box;
    color: #fff;
    max-width: 930px;
    min-width: 930px;
}
}

@media(max-width:992px) {
  .Toastify__toast-container {
    padding: 0;
    width: 80%;
    box-sizing: border-box;
    color: #fff;
    max-width: 690px;
    min-width: 690px;
}
}

@media(max-width:768px) {
  .Toastify__toast-container {
    padding: 0;
    width: 80%;
    box-sizing: border-box;
    color: #fff;
    max-width: 690px;
    min-width: 690px;
}
}

@media(max-width:767px) {
  .Toastify__toast-container {
    padding: 0;
    width: 80%;
    box-sizing: border-box;
    color: #fff;
    max-width: 510px;
    min-width: 510px;
}
}
@media(max-width:575px) {
  .Toastify__toast-container {
    padding: 0;
    width: 80%;
    box-sizing: border-box;
    color: #fff;
    max-width: 0;
    min-width: 545px;
}
}

@media(max-width:567px) {
  .Toastify__toast-container {
    padding: 0;
    width: 80%;
    box-sizing: border-box;
    color: #fff;
    max-width: 526px;
    min-width: 526px;
}
}

@media(max-width:545px) {
  .Toastify__toast-container {
    padding: 0;
    width: 80%;
    box-sizing: border-box;
    color: #fff;
    max-width: 514px;
    min-width: 514px;
}
}

@media(max-width:530px) {
  .Toastify__toast-container {
    padding: 0;
    width: 80%;
    box-sizing: border-box;
    color: #fff;
    max-width: calc(100% - 30px);
    min-width: calc(100% - 30px);
}
}

@media (max-width: 425px) {
  .report .container {
    width: 100%;
  }

  .Toastify__toast-container {
    width: calc(80% - 29px);
    margin-left: 3%;
  }
}
@media (max-width: 415px) {
  .report .container {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .report .container {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .report .paddings {
    margin: 0px 60px 0 60px;
  }
}
